<h1>Wikinimous</h1>

<%= link_to "New article", new_article_path %>

<ul>
  <% @all_articles.each do |article| %>
    <li>
      <div>
        <%= link_to article.title, article_path(article) %>
      </div>
      <div>
        <%= article.content %>
      </div>
    </li>
  <% end %>
</ul>
